@page
@model IndexModel
@{
    ViewData["Title"] = "My Home page";
}

  <!DOCTYPE html>
  <html lang="en-US">

  <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RNFS1RPBGT"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-RNFS1RPBGT');
    </script>

    <!--SaaSHub Verification code-->
    <meta name="saashub-verification" content="6l7cguse1rx2" />

    <title>WeekToDo | Free Minimalist Weekly Planner App</title>
    <meta name="description"
      content="WeekToDo is a free minimalist weekly planner app focused on privacy. Schedule your tasks and projects with To Do list and a calendar. Available for Windows, Mac, Linux or online.">
    <meta name="keywords" content="Minimalist Weekly Planner, Personal planner, Weekly todo list, To Do list app">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="https://weektodo.me/assets/images/logo.svg" type="image/x-icon">

    <!-- Open Graph -->
    <meta property="og:type" content="application">
    <meta property="og:url" content="https://weektodo.me/">
    <meta property="og:site_name" content="WeekToDo | Free Minimalist Weekly Planner App" />
    <meta property="og:title" content="WeekToDo | Free Minimalist Weekly Planner App">
    <meta property="og:description"
      content="WeekToDo is a free minimalist weekly planner app focused on privacy. Schedule your tasks and projects with To Do list and a calendar. Available for Windows, Mac, Linux or online.">
    <meta property="og:image" content="https://weektodo.me/assets/images/weektodo-opengraph-1200x630.png">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="WeekToDo | Free Minimalist Weekly Planner App">
    <meta name="twitter:description"
      content="WeekToDo is a free minimalist weekly planner app focused on privacy. Schedule your tasks and projects with to do list and a calendar. Available for Windows, Mac, Linux or online.">
    <meta name="twitter:image" content="https://weektodo.me/assets/images/weektodo-opengraph-1200x630.png">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      type="text/css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload"
      href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"
      as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap">
    </noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">



  </head>   

  <body>
     <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Manage</button>  
  
</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>   
    <div id="loading-cover"></div>
    <section class="header10 cid-spM2RNNCBT" id="header10-l">
      <div class="align-left container-fluid">
        <div class="row">
          <div class="col-md-12 col-lg-9">
            <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2"><strong>The Free Minimalist Weekly
                Planner Web Application</strong><br><strong>Focused on <div class="btn btn-warning btn-lg">TASK SCHEDULING</div></strong></h1>
            <p class="mbr-text mbr-fonts-style display-7">The key is not to prioritize what’s on your schedule, but to
              schedule your priorities.</p>
            <div class="mbr-section-btn mt-3">
              <a class="btn btn-secondary display-4" href="#download"><span
                  class="mobi-mbri mobi-mbri-download-2 mbr-iconfont mbr-iconfont-btn"></span>Schedule It&nbsp;</a>
              <a class="btn btn-secondary display-4"><span
                  class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Get Started&nbsp;</a>
            </div>
            <div class="image-wrap mt-4">
              <img src="/imgs/world-wide-web-monochromatic-500x500.png" width="200">
            </div>
          </div>
        </div>
      </div>
    </section>

  @*  <section class="image2 cid-ssYlqYpLVA" id="image2-19">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5">
            <div class="image-wrapper">
              <img src="/imgs" alt="WeekToDo Minimalist Weekly Planner">
            </div>
          </div>
          <div class="col-12 col-lg">
            <div class="text-wrapper">
              <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>What is WeekToDo?</strong></h3>
              <p class="mbr-text mbr-fonts-style display-7">
                WeekToDo is a free minimalist weekly planner. Improve your productivity by defining and managing your
                week
                and your life in an easy and intuitive way.</p>
            </div>
          </div>
        </div>
      </div>
    </section>*@

    @*<section class="image1 cid-ssNuThmhV0" id="image1-18">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5">
            <div class="image-wrapper">
              <img src="assets/images/online-protection-monochromatic-500x500.png" alt="WeekToDo Privacy First">
            </div>
          </div>
          <div class="col-12 col-lg">
            <div class="text-wrapper">
              <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>Privacy First</strong></h3>
              <p class="mbr-text mbr-fonts-style display-7">The security of your data is essential. WeekToDo is focused
                100%
                on privacy. All your data is stored on your computer (in your web browser or in the application). The
                only
                person who has access to your data is you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="image2 cid-staihUTXcQ" id="image2-1d">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5">
            <div class="image-wrapper">
              <img src="assets/images/world-wide-web-monochromatic-500x500.png" alt="WeekToDo Available for All">
            </div>
          </div>
          <div class="col-12 col-lg">
            <div class="text-wrapper">
              <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>Available for All</strong></h3>
              <p class="mbr-text mbr-fonts-style display-7">
                WeekToDo is a totally free project available for everyone. You can enjoy it in any desktop operating
                system
                or web browser. It is also available in multiple languages.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="info2 cid-ssYmCPl47o " id="download">
      <div class="align-center container">
        <div class="row justify-content-center">
          <div class="card col-12 col-lg-6">
            <div class="wrapper">
              <h3 class="mbr-section-title mb-4 mbr-fonts-style display-5" style="color: #232323">
                <div class="iconfont-wrapper">
                  <span class="mbr-iconfont mbri-desktop icons-app"
                    style="color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span>
                </div>
                <strong>Get the app</strong>
              </h3>
              <p class="mbr-text mb-4 mbr-fonts-style display-4">
                Download WeekToDo and enjoy a native experience from your computer in your favorite Operative System.
              </p>
              <div class="mbr-section-btn">

                <a class="btn btn-secondary display-4"
                  href="https://github.com/manuelernestog/weektodo-web/releases/download/v1.9.0/WeekToDo-Setup-1.9.0.exe">Windows</a>

                <div class="dropdown d-inline">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="macOS" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    macOS
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item py-2" id="open-mac-modal-1"
                        href="https://github.com/manuelernestog/weektodo-web/releases/download/v1.9.0/WeekToDo-1.9.0.pkg">macOS.pkg</a>

                    </li>
                    <li> <a class="dropdown-item py-2" id="open-mac-modal-2"
                        href="https://github.com/manuelernestog/weektodo-web/releases/download/v1.9.0/WeekToDo-1.9.0.dmg">macOS.dmg</a>
                    </li>
                  </ul>
                </div>

                <div class="dropdown d-inline">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="linux" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Linux
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item py-2" id="open-mac-modal-1"
                        href="https://github.com/manuelernestog/weektodo-web/releases/download/v1.9.0/WeekToDo_1.9.0_amd64.deb">Linux.deb</a>

                    </li>
                    <li> <a class="dropdown-item py-2" id="open-mac-modal-2"
                        href="https://github.com/manuelernestog/weektodo-web/releases/download/v1.9.0/WeekToDo-1.9.0.x86_64.rpm">Linux.rpm</a>
                    </li>
                    <li> <a class="dropdown-item py-2" id="open-mac-modal-2"
                        href="https://github.com/manuelernestog/weektodo-web/releases/download/v1.9.0/WeekToDo-1.9.0.pacman">Linux.pacman</a>
                    </li>
                    <li> <a class="dropdown-item py-2" id="open-mac-modal-2" href="https://snapcraft.io/weektodo">Linux
                        Snap</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="wrapper">
              <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5" style="color: #232323">
                <div class="iconfont-wrapper">
                  <span class="mbr-iconfont mbri-globe icons-app"
                    style="color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span>
                </div>
                <strong>In Browser</strong>
              </h3>
              <p class="mbr-text mbr-fonts-style mb-4 display-4">
                Access directly from the internet. (All your data remains safe in your web browser)</p>
              <div class="mbr-section-btn"><a class="btn btn-secondary display-4" href="https://app.weektodo.me"
                  target="_blank"><span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont mbr-iconfont-btn"></span>Get
                  Started Now</a></div>
            </div>
          </div>
        </div>
        <div class="mt-4"> Current Version <b>1.9.0</b>. Download older versions from
          <a href="https://github.com/manuelernestog/weektodo-web/releases" target="_blank">
            Github
          </a>
        </div>

      </div>
    </section>
*@
   @* <section style="background-color: #fcfcfc" class="pt-3 pb-4">
      <div class="container">
        <div id="app" class="card-box align-center mt-5" style="max-width: 700px; margin: 0 auto;">
          <h3 class="mbr-section-title mbr-fonts-style mb-4 display-5"><strong>Our Sponsors</strong></h3>

          <div class="d-flex flex-wrap justify-content-center" style="width: 100%;">
            <div class="align-self-center " v-for="(sponsor, index) in goldenSponsors" :key="index"
              style="width: 192px; height: 50px; margin: 15px 20px 15px 20px;">
              <a class="d-flex align-items-center" :href="sponsor.url" target="_blank" :title="sponsor.message"
                style="height: 100%; width: 100%">
                <img :src="sponsor.webImg"
                  style="max-width: 100%;    max-height: 100%; width: auto;    height: auto; margin: auto;">
              </a>
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-center" style="width: 100%;">
            <div class="align-self-center " v-for="(sponsor, index) in silverSponsors" :key="index"
              style="width: 141px; height: 45px; margin: 12px 17px 12px 17px;">
              <a class="d-flex align-items-center" :href="sponsor.url" target="_blank" :title="sponsor.message"
                style="height: 100%; width: 100%">
                <img :src="sponsor.webImg"
                  style="max-width: 100%;    max-height: 100%; width: auto;    height: auto; margin: auto;">
              </a>
            </div>
          </div>

          <div class="d-flex flex-wrap justify-content-center" style="width: 100%;">
            <div class="align-self-center " v-for="(sponsor, index) in bronzeSponsors" :key="index"
              style="width: 112px; height: 35px; margin: 10px 14px 10px 14px;">
              <a class="d-flex align-items-center" :href="sponsor.url" target="_blank" :title="sponsor.message"
                style="height: 100%; width: 100%">
                <img :src="sponsor.webImg"
                  style="max-width: 100%;    max-height: 100%; width: auto;    height: auto; margin: auto;">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a class="btn btn-primary-outline display-4 align-self-center" href="https://support.weektodo.me"><span
            class="mobi-mbri mobi-mbri-hearth mbr-iconfont mbr-iconfont-btn"></span>Become a
          Sponsor</a>
      </div>
    </section>

    <section class="features1 cid-stlUSjLQuZ" id="features1-1w">
      <div class="container">
        <div class="row">
        </div>
        <div class="row">
          <div class="card col-12 col-md-6">
            <div class="card-wrapper">
              <div class="card-box align-center">
                <div class="iconfont-wrapper">
                  <span class="mbr-iconfont mbri-rocket" style="color: rgb(53, 53, 53); fill: rgb(53, 53, 53);"></span>
                </div>
                <h5 class="card-title mbr-fonts-style display-5"><strong>Free your Potential</strong></h5>
                <p class="card-text mbr-fonts-style display-7">Cross your limits and start being more productive by
                  focusing
                  on what is really important</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
*@
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
    }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <script src="assets/web/assets/jquery/jquery.min.js"></script>
    <script src="assets/popper/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="assets/dropdown/js/nav-dropdown.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="assets/theme/js/script.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
      // Fade smooth screen loader
    $(window).on('load', function () {
        setTimeout(function () {
            $('#loading-cover').fadeOut(300)
        }, 200)
    })

    </script>

    <script>
      $.getJSON("weektodo-schemaorg.jsonld", function (data) {
        $("<script/>", {
            "type": "application/ld+json",
            "html": JSON.stringify(data)
        }).appendTo("head");
    });
    </script>

    <script>
      new Vue({
        el: '#app',
        data() {
            return {
                goldenSponsors: [],
                silverSponsors: [],
                bronzeSponsors: [],
            }
        },
        mounted() {
            axios
                .get('https://support.weektodo.me/data/active_sponsors.json')
                .then(response => (this.renderSponsors(response)))
        },
        methods: {
            renderSponsors: function (response) {
                var data = response.data;

                data.forEach((item) => {
                    if (item.plan == 'diamond') {
                        this.diamondSponsors.push(item);
                    }
                    if (item.plan == 'golden') {
                        this.goldenSponsors.push(item);
                    }
                    if (item.plan == 'silver') {
                        this.silverSponsors.push(item);
                    }
                    if (item.plan == 'bronze') {
                        this.bronzeSponsors.push(item);
                    }
                });
            },
        }
    })
    </script>


    <script>
      // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn1 = document.getElementById("open-mac-modal-1");
    var btn2 = document.getElementById("open-mac-modal-2");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn1.onclick = function () {
        modal.style.display = "block";
    }

    btn2.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>

    <style>
      .navbar-toggler:focus {
         box-shadow: none;
      }
    </style>

    <div id="scrollToTop" class="scrollToTop mbr-arrow-up" style=""><a style="text-align: center;"><i
          class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
  </body>

  </html>